<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>REGISTER</title>
</head>
<body>
    <!-- <% if(locals.errors){ %> <% errors.forEach(function(error) { %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <%= error.msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% }); %> <% } %> <% if(success_msg != ''){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% if(error_msg != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error_msg %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> <% if(error != ''){ %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %> -->
        <div class="container">
          <h1>BEYOND THE BLOG</h1>
          <H3>REGISTER</H3>
          <form action="/register" method="POST">
  
              <label for="username"><b>Email</b></label>
              <input class="form-control" type="email" placeholder="Enter Email" name="username" required>
              <br>
              <label for="password"><b>Password</b></label>
              <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
              <br>
              <label for="repassword"><b>Re-Password</b></label>
              <input class="form-control" type="password" placeholder="Re-Enter Password" name="repassword" required>
              <br>
              <button class="btn btn-primary" type="submit">REGISTER</button>
              
              <p class="linking">Already a User? <a href="/login">LOGIN</a></p>
          </form>
  
  
      </div>
</body>
</html>